@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 9%;
  --background: 0 0% 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 0 0% 98%;
    --background: 0 0% 9%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
